$black: #000000;
$lightBlack: #303030;
$blue: #5c7ce6;
$grey: #72757f;
$bordergrey: #eeeeee;
$lightGrey: #babcc3;
$white: #ffffff;
$shadow: rgba($black,.1);
$shadowbg: rgba($white,.6);
$deepGrey: #989ca9;
$red: #ff5046;
$deepred: #c81e14;
$red1: #f14988;
$red2: #f65353;
$green: #00bd9a;
$placeholder: #cccccc;
$holderbg: #f4f5f9;
$holderborder: #f0f1f6;
$delete: #363636;
$deepdelete: #382507;
$cancel: #656565;
$nosearch: #999999;
$num: #676a73;
$minusbg: #f7f8fa;
$plusbg: #f2f3f5;
$minus: #cccdd0;
$plus: #353536;
$border: #dddddd;
$darkgrey: #f3f3f3;
$yellow: #ffaa00;
$deepYellow: #6c4a07;
$deepyellowbg: #d48200;
$lightyellowbg: #fcde93;
$deepyellowbg1: #845812;
$panelbg: #ebeef8;
$yellowbg: #f7f2e9;
$greybg: #f0f0f0;
$redbg: #fff0ef;
$statusbg: #d5d5d5;
$deepYellow1: #6a5216;
$endbg: #cedadc;
$greenbg: #e6f9f5;
$opacityBg: #a9a391;
$btnBlue: #1989fa;
